@import "../../style/variables";

.education {
  border-bottom: 0.2rem dashed black;

  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  section {
    padding: 1rem;
  }
  .notable-classes {
    width: 60%;
    header {
      font-style: italic;
      padding: 0.25rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        padding: 0.25rem;
        margin: 0.25rem;
        border-radius: 2rem;
        font-size: 1.2rem;
      }
      li::after {
        content: " ";
      }
      li::before {
        content: " ";
      }
    }
  }
}

@media (max-width: 899px) {
  .education {
    flex-direction: column;
    padding-left: 10vw;
  }
}
