@import "../../style/variables";

.skills {
  border-bottom: 0.2rem dashed rgb(34, 34, 34);
  width: 95vw;
  padding-left: 5vw;
  padding-top: 1rem;

  section {
    padding: 1rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 0.25rem;
      margin: 0.25rem;
      border-radius: 2rem;
      font-size: 1.2rem;
    }
    li::after {
      content: ",";
    }
    li:last-child::after {
      content: "";
    }
    li::before {
      content: " ";
    }
  }
}
@media (max-width: 899px) {
  .skills {
    width: 90vw;
    padding-left: 10vw;
  }
}
