@import "../../style/variables";


.employment {
  border-bottom: 0.2rem dashed rgb(34, 34, 34);
  width: 95vw;
  padding-left: 5vw;
  padding-top: 1rem;
  .job {
    &:last-child {
      border-bottom: none;
    }
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 5px dotted lightgray;
    .details {
      position: sticky;
      top: 3rem;
      font-weight: 600;
      width: 30%;
      .when{
        margin-bottom: 1rem;
      }
      .where {
        display: flex;
        align-items: center;
        font-style: italic;
      }
    }
    .job-description {
      font-size: 1rem;
      border: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-style: italic;
    }
    .job-date{
      margin-bottom: 1rem;
    }
    .project-label{
      font-size: 0.9rem;
      font-style: italic;
    }
    .summary {
      width: 60%;

      header {
        font-size: 1rem;
        padding-bottom: 1rem;
      }
      
      p {
        font-style: italic;
        padding: 0.25rem;
      }
      .project {
        list-style: none;
        header {
          font-weight: bold;
          font-size: 1.25rem;
          padding-bottom: 1rem;
        }

        .technologies {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0.25rem;
            border: 1px solid lightgray;
            margin: 0.25rem;
            border-radius: 2rem;
            font-size: 0.8rem;
          }
          li::after {
            content: " ";
          }
        }
        .responsibilities {
          padding-top: 1rem;
          ul {
            padding: 1rem;
            list-style-type: disc;
            li {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 899px) {
  .employment {
    width: 90vw;
    padding-left: 10vw;
    .job {
      flex-direction: column;
      width: 90vw;
      padding: 0;
      padding-top: 1rem;
      .details {
        width: 100%;
        padding-bottom: 1rem;
        position: inherit;
        top: initial;
      }
      .summary {
        width: 100%;
      }
    }
  }
}


@media print {
  .employment {
    width: 100vw;
    .job {
      &:last-child {
        border-bottom: none;
        padding-bottom: 5rem;
      }
    }
  }
}
