@import "../../style/variables";

.contact-me {
  width: 35vw;
  a {
    text-decoration: none;
  }

  .social-media {
    display: flex;
    justify-content: flex-end;
    span {
      align-items: center;
    }
    .linkedin,
    .github {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
      }
      i,
      svg {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        text-decoration: none;
        color: rgb(34, 34, 34);
        border-radius: 5rem;
        transform: scale3d(0.9, 0.9, 0.9);
        transition: linear 0.3s;
      }

      i:hover,
      svg:hover {
        border: none;
        background-color: rgb(34, 34, 34);
        color: white;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      * {
        padding: 0.25rem;
      }
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    .contact-section {
      margin-bottom: 0.75rem;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      * {
        text-transform: uppercase;
        padding: 0.1rem;
      }
      svg,
      .label {
        padding-right: 1rem;
        color: grey;
      }
      .data {
        font-weight: bold;
        text-transform: none;
      }
    }
  }
}

@media (max-width: 899px) {
  .contact-me {
    width: 100vw;
    .social-media {
      justify-content: center;
    }
    .contact-info {
      align-items: center;
      .contact-section {
        flex-direction: row;
        width: 75vw;
      }
    }
  }
}

@media print {
  .contact-me {
    width: 50vw;
    .social-media {
      justify-content: flex-start;
      flex-wrap: wrap;
      span {
        display: flex;
      }
    }
  }
}
