@import "../../style/variables";

.who-am-i {
  h1 {
    font-size: 4rem;
    width: 20vw;
  }
  h3 {
    margin: 1rem;
  }
  img {
    width: 15vw;
    height: auto;
    border-radius: 0.5rem;
  }
}
