@import "../../style/variables";

.who-am-i {
  h1 {
    font-size: 4rem;
    width: 20vw;
  }
  h3 {
    margin: 1rem;
  }
  img {
    width: 15vw;
    height: auto;
    border-radius: 0.5rem;
  }
}

@media (max-width: 899px) {
  .who-am-i {
    h1,
    h3 {
      width: 100vw;
      text-align: center;
    }
    h3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
